:root {
  --bg-primary: #111111;
  --bg-secondary: #222222;

  --text-primary: #ffffff;
  --text-secondary: #d1d5db;

  --color-blue-bg: rgba(59, 130, 246, 0.3);
  --color-blue-bg-hover: rgba(59, 130, 246, 0.5);
  --color-blue-text: rgba(59, 130, 246, 1);

  --color-yellow-bg: rgba(234, 179, 8, 0.3);
  --color-yellow-bg-hover: rgba(234, 179, 8, 0.5);
  --color-yellow-text: rgba(234, 179, 8, 1);

  --color-green-bg: rgba(34, 197, 94, 0.3);
  --color-green-bg-hover: rgba(34, 197, 94, 0.5);
  --color-green-text: rgba(34, 197, 94, 1);

  --color-red-bg: rgba(239, 68, 68, 0.3);
  --color-red-bg-hover: rgba(239, 68, 68, 0.5);
  --color-red-text: rgba(239, 68, 68, 1);

  --color-purple-bg: rgba(168, 85, 247, 0.3);
  --color-purple-bg-hover: rgba(168, 85, 247, 0.5);
  --color-purple-text: rgba(168, 85, 247, 1);

  --color-gray-100: rgba(17, 17, 17, 1);
  --color-gray-200: rgba(34, 34, 34, 1);
  --color-gray-300: rgba(51, 51, 51, 1);
  --color-gray-400: rgba(68, 68, 68, 1);
  --color-gray-500: rgba(85, 85, 85, 1);
  --color-gray-600: rgba(102, 102, 102, 1);
  --color-gray-700: rgba(119, 119, 119, 1);
  --color-gray-800: rgba(136, 136, 136, 1);
  --color-gray-900: rgba(153, 153, 153, 1);

  --font-main: "Nunito", sans-serif;
}
